<ion-content>
  <ion-header>
    <ion-toolbar class="ion-no-border ion-padding">
      <ion-title>Main Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="margin-top contenedor-web">
    <ion-list>
      <ion-item button routerLink="/create-character">
        <ion-label>Create Character</ion-label>
      </ion-item>
      <ion-item button routerLink="/load-characters">
        <ion-label>Load Characters</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
