<form [formGroup]="loginForm" (ngSubmit)="enviar()">
  <ion-item>
    <ion-input label="Username or Email" labelPlacement="floating" type="text" formControlName="usernameOrEmail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Password" labelPlacement="floating" type="password" formControlName="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox formControlName="rememberMe" labelPlacement="start">Remember me</ion-checkbox>
  </ion-item>
  <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
</form>
